<div class="span2 ">
    <div class="list styled custom-list mini-menu">
        <ul>
            {{ render(controller('BlogArticleBundle:Category:all_allCategory')) }}

        </ul>
    </div>
    <div class="banner-wrap style-1">
        <a href="science/vivamus-eget-nibh/"
           title="quis nostrud exercitati aliquip ">
            <figure class="featured-thumbnail">

            </figure>
        </a>

    </div>


    {{ render(controller('BlogArticleBundle:Article:postNumber')) }}





</div>