/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/app/cache
/app/logs
/upload
/app/cache/prod
/app/cache/dev
/symfony 20150916 2226.sql
